<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/detalles.css"/>

    <title><%= disco.artista %> - <%= disco.disco %></title>
  </head>
  <body>
    <%- include('../partials/header') %>
    <section class="productos-container">
      <figure class="box-producto">
        <img
          src="/img/products/<%= disco.imagen %>"
          alt="Portada de <%= disco.disco %>"
        />
        <figcaption>
          <h3><%= disco.artista %> - <%= disco.disco %></h3>
          <span><%= disco.precio %></span>
          <span
            ><a href="/user/carrito"
              ><i class="fa-solid fa-cart-arrow-down"></i> Agregar al carrito</a
            ></span
          >
          <p>
            <%= disco.descripcion %>
          </p>
          <p>Discográfica: <br /><%=disco.discografica%></p>
          <p>Fecha de lanzamiento <br><%=disco.anio%></p>
          <p>Género <br><%=disco.genero%></p>
          <p>Tracklist: <br><%=disco.tracklist%></p>

        </figcaption>
      </figure>
    </section>
    <%- include('../partials/footer') %>
  </body>
</html>
