<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vindicator Vinyls</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <%- include('./partials/header') %>

    <main>
      <div class="banner-index">
        <img src="img/tiendita vinilos.png" alt="tienda de vinilos" />
      </div>

      <section class="section-categorias">
        <div class="texto-categorias">
          <h2>Categorías</h2>
          <a href="#">
            <h4>Ver más</h4>
          </a>
        </div>
        <ul class="links-categorias">
          <li>
            <figure>
              <img src="/img/todo-vinilos.png" alt="Categoría Todo" />
              <figcaption><a href="#">Todo</a></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <img src="/img/rock.png" alt="Categoría Rock" />
              <figcaption><a href="#">Rock</a></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <img src="/img/pop.png" alt="Categoría Pop" />
              <figcaption><a href="#">Pop</a></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <img src="/img/jazz.png" alt="Categoría Jazz" />
              <figcaption><a href="#">Jazz</a></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <img src="/img/hip-hop.png" alt="Categoría Hip Hop" />
              <figcaption><a href="#">Hip Hop</a></figcaption>
            </figure>
          </li>
        </ul>
      </section>

      <div class="barra-busqueda">
        <input
          class="barra-busqueda"
          type="search"
          name="busqueda"
          id="busqueda"
          placeholder="Buscar..."
        />
      </div>

      <!-- <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-cart-shopping"></i> -->
      <section class="section-destacados">
        <div class="texto-categorias">
          <h2>Destacados</h2>
          <a href="/producto/listado">
            <h4>Ver más</h4>
          </a>
        </div>
        <div class="filtros-destacados">
          <a href="/producto/listado" class="boton-filtro"
            ><span>Todos</span></a
          >
          <a href="#" class="boton-filtro"><span>Novedades</span></a>
          <a href="#" class="boton-filtro"><span>Más vendidos</span></a>
          <a href="#" class="boton-filtro"><span>Ofertas</span></a>
        </div>
      </section>
      <section class="productos-container">
        <% products.slice(0,12).forEach(product=> { %>
        <figure class="box-producto">
          <a href="/producto/detalles/<%= product.product_id %>">
            <img
              src="/img/products/<%= product.cover_path %>"
              alt="Portada álbum <%= product.product_title %>"
            />
            <figcaption>
              <h3>
                <%= product.artist.artist_name %> - <%= product.product_title %>
              </h3>
              <span>$<%= product.price %></span>
            </figcaption>
          </a>
        </figure>
        <% }); %>
      </section>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
