<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Listado de productos</title>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/admin.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <section class="admin-section">
      <article class="col-12" >
        <table class=" table ">
            <thead class="text-white bg-primary">
              <tr>  
                <th scope="col">Id</th>
                <th scope="col">Disco</th>
                <th scope="col">Artista</th>
                <th scope="col">Ver</th>
                <th scope="col">Editar</th>
                <th scope="col">Borrar</th>
              </tr>
            </thead>
            <tbody>
              <% discos.forEach(disco => { %>
              <tr>
                <td><%= disco.id%> </td>
                <td><%= disco.disco%> </td>
                <td><%= disco.artista%> </td>
                <td><a href="/admin/revisar/<%= disco.id%> "> <ion-icon name="eye-outline"></ion-icon></a></td>
                <td><a href="/admin/editarProducto/<%= disco.id%> "> <ion-icon name="pencil-outline"></ion-icon></a></td>
                <td> <form action="/admin/delete/<%= disco.id%>?_method=DELETE" method="post">
                  <button type="submit"><ion-icon name="trash-outline"></ion-icon></button>
                </form></td>
              </tr>
              <% }); %>
            </tbody>
          </table> 
        </article>
      <div class="contenedor-boton-agregar">
        <a href='/admin/agregarProducto'>
          <button class="agregar-producto">
            <i class="fa-solid fa-square-plus"></i>Agregar producto
          </button>
        </a>
      </div>
    </section>
    <%- include('../partials/footer') %>
  </body>
</html>
