<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Iniciar sesión</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
  <header><%- include('../partials/header') %></header>

  <main>


    <div class="contenedor">
      <section class="section-datos">
        <% if(locals.errors) { errors.forEach(error=> { %>
          <p style="color: blue" class="errores">
            <%= error.msg %>
          </p>
          <% })} %>
            <!-- <div class="logo-letras">
            <img src="/img/vv-blanco.png" alt="Vindicator Vinyls">
        </div> -->
            <h1 class="encabezado">Iniciar sesión</h1>
            <div class="errores2" style="color: red">
              <ul></ul>
            </div>
            <form action="/user/login" method="post" class="loginform">
              <label for="email">E-mail</label>
              <input type="email" name="email" id="email" placeholder="E-mail" class="celda"
                value="<%= locals.old && old.email ? old.email : '' %>" required />

              <label for="contra">Contraseña</label>
              <input type="password" name="password" id="contra"
                placeholder="Contraseña (mín. 6 caracteres con letra y número)" class="celda"
                value="<%= locals.password && old.password ? old.password : '' %>" required />

              <input type="submit" class="boton-loguearse" value="Iniciar Sesión" />
              <section class="recordarme">
                <input type="checkbox" name="recordarme" />
                <label>Recordarme</label>
              </section>
            </form>
      </section>
    </div>

    <section class="opcion-registro">
      <p>¿No tienes cuenta?</p>
      <a href="registro">Registrate</a>
    </section>

    <div class="logo-disco">
      <img src="/img/logo-blanco.png" alt="Logo Vindicator Vinyls" />
    </div>

    <section class="olvido">
      <a href="https://www.mayoclinic.org/es/healthy-lifestyle/healthy-aging/in-depth/memory-loss/art-20046518">¿Olvidaste
        tu contraseña?</a>
    </section>

  </main>

  <footer><%- include('../partials/footer') %></footer>
  <script src="/js/validatorLog.js"></script>
</body>

</html>